:root {
  --header-background: #f8c21f;
  --main-btn-color: #15133C;
  --form-background: #F1EEE9;
  --warning-text: #890F0D;
  --warning-background: #fcaeae;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

header {
  background-color: var(--header-background);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
  margin-top: 95px;
}

h1 {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem;
}

a {
  color: black;
  text-decoration: none;
}

.standard-btn {
  background-color: var(--main-btn-color);
  border-radius: 7px;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  margin: 1.1rem 1rem 1rem 0;
  padding: 0.3rem 0.7rem 0.5rem;
}

.center-btn {
  display: block;
  margin: 1.3rem auto;
  width: fit-content;
}

form {
  background-color: var(--form-background);
  margin: 2rem auto;
  padding: 1rem 0;
  position: relative;
  width: 85vw;
  max-width: 600px;
}

label {
  display: block;
  margin: 0 0 0.5rem 1rem;
}

.create-form-heading {
  display: flex;
  align-items: center;
}

.warning-btn {
  background-color: transparent;
  color: var(--main-btn-color);
  cursor: default;
  font-size: 1.4rem;
  margin: 0 0 0 1rem;
  padding: 0;
  max-width: fit-content;
}

.security-warning {
  background-color: var(--main-btn-color);
  border-radius: 10px;
  position: absolute;
  left: 85px;
  top: -50px;
  opacity: 0.8;
  width: 145px;
}

.hidden {
  display: none;
}

.security-warning p {
  color: white;
  font-size: 0.8rem;
  margin: 0;
  padding: 0.3rem 0.5rem 0.5rem 0.5rem;
}

.form-group {
  display: flex;
}

.form-group input {
  border: none;
  flex-grow: 4;
  margin: 0 1rem;
  padding: 0.5rem 0.7rem;
}

input.error {
  border: solid red;
}

form button {
  background-color: var(--main-btn-color);
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  flex-grow: 1;
  font-size: 1rem;
  margin-right: 1rem;
  padding: 0.3rem 0.7rem 0.5rem;
}

.btn-group {
  display: flex;
}

@media screen and (max-width: 450px) {
  .form-group {
    display: grid;
    grid-template-rows: auto auto;
  }

  form button {
    margin: 0.6rem 1rem 0;
    max-width: 70px;
  }
}

.list {
  background-color: var(--form-background);
  box-shadow: 5px 5px 5px rgb(243, 242, 241, 0.8);
  display: flex;
  justify-content: space-between;
  margin: 0.7rem auto;
  width: 85vw;
  max-width: 600px;
}

.warning {
  align-items: center;
  background-color: var(--warning-background);
  color: var(--warning-text);
}

.warning button {
  background-color: transparent;
  border: none;
  color: var(--warning-text);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.custom-list {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  width: 85vw;
  max-width: 600px;
}

.custom-list h3 {
  margin: 0 1.3rem 0 0;
}

.list-item {
  background-color: white;
  box-shadow: none;
}

.list a {
  margin: 0;
  padding: 0.5rem 0.7rem;
  width: 90%;
}

.list p {
  margin: 0;
  padding: 0.5rem 0.7rem;
}

.item-btns {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.icon-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.7rem 0.7rem 0.5rem;
}